
{% extends 'adminapp/base.html'%}
{% block content %}
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'adminapp/includes/top-nav.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>

 {% include 'adminapp/includes/navbar.html' %}


      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
            
          <div class="row">
            <div class="col md-6">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Color</h4>
                  
                  <form class="forms-sample" method="POST" action="{% url 'add_color' %}">
                    {% csrf_token %}
                    <div class="form-group row"style="height:6rem;">
                      <label for="exampleInputUsername2" class="col-sm-3 col-form-label mt-4">Color</label>
                      <div class="col-sm-9 mt-4" >
                        <input type="text" name="color" class="form-control" id="exampleInputUsername2" placeholder="Color">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                  </form>
                  {% include 'adminapp/includes/error.html' %}
                </div>
              </div>
            </div>
        </div>
        {% comment %} <div class="col-md-6">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add size</h4>
                    
                    <form class="forms-sample" method="POST" action="{% url 'add_size' %}">
                      {% csrf_token %}
                      <div class="form-group row"style="height:6rem;">
                        <div>
                            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">color</label>

                            <select name="selectcolor" id="selectcolor" required>
                                <option selected="selected" disabled>Colours:</option>
                                {% for c in color %}
                                <option value="{{ c.id }}">{{ c.color_value }}</option>
                                {% endfor %}
                              </select>
                        </div>
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Size</label>
                        <div class="col-sm-9">
                          <input type="text" name="size" class="form-control" id="exampleInputUsername2" placeholder="Size" >
                        </div>
                      </div>
                      
                      
                      
                      
                      <button type="submit" class="btn btn-primary me-2">Submit</button>
                      
                    </form>
                    {% include 'adminapp/includes/error.html' %}
                  </div>

                </div> 
              </div>
        </div>{% endcomment %}

            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
 {% endblock %}
