
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login OTP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="{% static 'fonts/linearicons/style.css' %}">
    
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{% static 'css/signup.css'%}">
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }        
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
        </style>
</head>

<body>
    <div class="wrapper">
        <div class="inner">        
            <form action="{% url 'login-otp' %}" method="GET">
                
                <h3>Login With Phone Number</h3>            
                <div class="form-holder">
                    <span class="lnr lnr-phone-handset"></span>
                    <input type="number" class="form-control" name="phone" placeholder="Phone Number">
                </div>
                {% for message in messages %}
                    <p  style="color: red;">{{message}}</p>
                {% endfor %}
            
                <button type="submit">
                    Get OTP
                </button>
                <div class="" style="padding-top: 2rem;">
                   <h4> <a style="padding:5rem;padding-top:2rem;color:black;" href="{% url 'login-pass' %}"> Login with Password</a></h4>
                </div>          
            </form>    
        </div>    
    </div>
    <script>
        
    </script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/signup_main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>