
<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
        {% for c in category %}
        <div class="nav-item dropdown">
            
            <a href="{{ c.get_url }}" class="nav-link" data-toggle="dropdown">{{ c.cat_name }}<i class="fa fa-angle-down float-right mt-1"></i></a>
            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                {% for subcat in c.subcategory_set.all %}
                <a href="{{ subcat.get_url }}" class="dropdown-item">{{ subcat.sub_name }}</a>
                
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</nav>